/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; 
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1rem;
}
.top {
  margin-bottom: 5rem;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "PT Serif", serif;
  margin-bottom: 1rem;
}
.gallery-item p {
  font-family: "PT Serif", serif;
  text-transform: uppercase;
}
h2 {
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #bdbdbd;
}
footer a {
  font-weight: bold;
  color: inherit;
}
#description {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery-item-container {
  padding: 1.25rem;
  position: relative;
}
.gallery-item-container:nth-child(2n) {
  padding-top: 5rem;
}

.gallery-item img {
  max-width: 100%;
}

.gallery-item p {
  position: absolute;
  top: 9rem;
  right: 1.25rem;
  transform: rotate(90deg);
  transform-origin: bottom right;
}
.gallery-item-container:nth-child(2n) p {
  top: 13rem;
}

@media screen and (min-width: 768px) {
  .top {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .top p {
    max-width: 25rem;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
  .gallery-item-container {
    padding: 1.25rem;
    position: relative;
  }
  .gallery-item-container:nth-child(2n) {
    padding-top: 1.25rem;
  }
  .gallery-item-container:nth-child(2n) p {
    top: 9rem;
  }
  .gallery-item-container:nth-child(3n-1) {
    padding-top: 5rem;
  }
  .gallery-item-container:nth-child(3n-1) p {
    top: 13rem;
  }
}
